{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- hojas de estilos propios -->
    <title>Django CRUD</title>
    <link rel="stylesheet" href="{% static "main.css" %}">
  </head>
  <body>
  <div class="container">
      <div class="row">
          <div class="col-md-4 offset-md-4">
              <h1 class="display-5 fw-bold">Tareas</h1>
              <form action="{% url 'create_new_task' %}" method="post" class="card card-body bg-secondary">
                  {% csrf_token %}
                  <label for="form_title">Titulo</label>
                  <input type="text" name="form_title" placeholder="write-title" class="form-control mb-2">

                  <label for="form_description">Descripcion</label>
                  <textarea name="form_description" rows="3" placeholder="write-task-description" class="form-control mb-2"></textarea>
                  <button class="btn btn-success">Guardar</button>
              </form>

              {% for task in tasks %}
                  <div class="card card-body text-dark mt-2 d-flex flex-row justify-content-between">
                      <div>
                        <h4>{{ task.title }}</h4>
                        <p>{{ task.description }}</p>
                      </div>

                      <form action="{% url 'update' task.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-warning btn-sm">Update</button>
                      </form>

                      <form action="{% url 'delete_task' task.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm">Delete</button>
                      </form>

                  </div>
              {% empty %}
                <h1 class="display-6 text-center">No Hay Tareas Pendientes</h1>
              {% endfor %}
          </div>
      </div>
</div>


</body>
</html>
